* {
    box-sizing: border-box;
}

body {
    background-color: green;
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 10px 0;
    max-width: 100%;
    margin: 0 auto;
}

article footer a,
article p {
    text-decoration: none;
    color: grey;
    margin: 0;
    text-align: justify;
}


article {
    background-color: white;

}

div {
    padding: 20px;
}

img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.first {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.second {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
    }

    .first {
        flex: 2;
    }

    .second {
        flex: 1;
    }

    article {
        flex: 1;
    }

    div, article {
   
        flex: 1;
        display: flex;
        flex-direction: column;
    }   

    p {
        flex: 1;
    }

}